.adminContent {
    position: absolute;
    left: 260px;
    top: 0;
    height: 100vh;
    width: calc(100vw - 260px);
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #efefef;

    section {
        padding: 20px;
    }

    table.adminTable tbody tr:hover td {
        transition-duration: 0.3s;
        background-color: $neutral-300;
    }
    .adminColorSquare {
        display: inline-block;
        width: 16px;
        height: 16px;
        border-radius: 4px;
        border: 1px solid $neutral-500;
    }
    .tag {
        display: inline-flex;
        align-items: center;
        border-radius: 20px;
        padding: 8px 8px;
        color: $white;;
        margin-right: 4px;
        margin-top: 4px;
        line-height: 0.875rem;
        font-size: 14px;

        .material-icons {
            color: $neutral-100;
            font-size: 14px;
        }

        &.tag-newest {
            background-color: $primary-200;
            color: $primary-800;
            .material-icons {
                color: $primary-800;
            }
        }
        &.tag-hottest {
            background-color: $primary-400;
        }
        &.tag-cheaper {
            background-color: $primary-600;
        }
    }

    .btn-edit-outline {
        color: $primary-600;
        border: 1px solid $primary-600;

        &:hover {
            background-color: $primary-600;
            color: $white;
        }
    }

    .btn-edit {
        color: $white;
        background-color: $primary-600;
        

        &:hover {
            background-color: $primary-900;
            color: $white;
        }
    }

    .btn-delete-outline {
        color: $highlight-red;
        border: 1px solid $highlight-red;

        &:hover {
            background-color: $highlight-red;
            color: $white;
        }
    }

    .btn-delete {
        color: $white;
        background-color: $highlight-red;

        &:hover {
            background-color: darken($highlight-red, 10%);
            color: $white;
        }
    }

    .text-bg-success {
        background-color: #198754;
        color: $white;
        align-items: center;
    }

    .text-bg-danger {
        background-color: #d9534f;
        color: $white;
        align-items: center;
    }

    .btn-cancel {
        color: $white;
        background-color: $neutral-600;

        &:hover {
            background-color: $neutral-700;
            color: $white;
        }
    }

    .btn-confirm {
        color: $white;
        background-color: $primary-600;

        &:hover {
            background-color: $primary-900;
            color: $white;
        }
    }

    .modal {
        z-index: 1051;
    }
} //.adminContent End


